
.left{
    float: left;
    width:34%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px
}
.right{
    float: right;
    width:63%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px;
}
.whey{
    height:200px;
    width:510px;
}
.whey-details{
   margin:10px;
   font-size: 20px;
   justify-items: auto;
}
.left-2{
    float: left;
    width:63%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px
}
.right-2{
    float: right;
    width:34%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px;
}
.collagen{
    height:200px;
    width:510px;
}
.collagen-details{
    margin:10px;
    font-size: 20px;
    justify-items: auto;
}
.left-3{
    float: left;
    width:34%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px
}
.right-3{
    float: right;
    width:63%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px;
}
.kasein{
    height:200px;
    width:510px;
}
.kasein-details{
    margin:10px;
    font-size: 20px;
    justify-content: auto;
}
.left-4{
    float: left;
    width:63%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px
}
.right-4{
    float: right;
    width:34%;
    height:200px;
    box-shadow: 3px 5px 10px;
    margin:10px;
}
.projym{
    height:200px;
    width:510px;
}
.projym-details{
    margin:10px;
    font-size: 20px;
    justify-content: auto;
}
